<!DOCTYPE html>
<html lang="en">
<head>
    <!-- /----------------------------/
        /                            /
        /        META TAGS           /
        /                            /
        /----------------------------/ -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- /----------------------------/
        /                            /
        /        CSS LINKS           /
        /                            /
        /----------------------------/ -->

    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/main/style/design/componentRootCss.css">
    <link rel="stylesheet" href="/main/style/css/reset.css">
    <link rel="stylesheet" href="">

    <!-- /----------------------------/
        /                            /
        /        ANOTHERS LINKS      /
        /                            /
        /----------------------------/ -->
    
        <link rel="shortcut icon" href="/main/assets/icon/iconMiathLogo.ico" type="image/x-icon">

    <title>TROCAR DE NOME</title>
</head>
<!-- Escrever descrição
-->
<body>

    <!-- /----------------------------/
        /                            /
        /        MAIN CONTAINER      /
        /                            /
        /----------------------------/ -->

        <div class="mainContainer">

        </div>
</body>
</html>