<!DOCTYPE html>
<html lang="en">

<head>
    <!-- /----------------------------/
        /                            /
        /        META TAGS           /
        /                            /
        /----------------------------/ -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- /----------------------------/
        /                            /
        /        CSS LINKS           /
        /                            /
        /----------------------------/ -->

    <link rel="stylesheet" href="../style/design/reset.css">
    <link rel="stylesheet" href="../style/complementPage.css">

    <!-- /----------------------------/
        /                            /
        /        ANOTHERS LINKS      /
        /                            /
        /----------------------------/ -->

    <link rel="shortcut icon" href="../img/logoIcon.png" type="image/x-icon">

    <title>Consultoria Para Projetos</title>
</head>
<!-- Escrever descrição
-->

<body>

    <!-- /----------------------------/
        /                            /
        /        MAIN CONTAINER      /
        /                            /
        /----------------------------/ -->

    <div class="mainContainer">
        
        <div class="navbar">
            <ul>
                <li><a class="text-nav" href="../index.html#about">sobre nós</a></li>
                <li><a class="text-nav" href="../index.html#portfolio">portfólio</a></li>
                <img src="../img/logoNitro.png">
                <li><a class="text-nav" href="../index.html#services">serviços</a></li>
                <li><a href="../index.html#contratar">contratar</a></li>
            </ul>
        </div>

        <div class="home">
            <div class="leftContainer">
                <div class="generalContainer">
                    <div class="infosContainer">
                        <h1 class="title-grey">CONSULTORIA <a class="title-pink"> PARA PROJETOS</a></h1>
                        <p class="text-base">A NITRO CONSULTING emerge como uma fonte confiável de orientação estratégica para empresas que buscam sobressair-se em um ambiente competitivo e dinâmico, onde, compreendemos que cada empresa é única, e as soluções para o sucesso digital devem ser igualmente personalizadas. Nossa equipe de consultores especializados trabalha em estreita colaboração com os líderes empresariais para identificar oportunidades de melhoria, alinhando os objetivos organizacionais com as melhores práticas da indústria e as mais recentes inovações tecnológicas.</p>
                        <div class="moreInfosContainer">
                            
                            
                            <ul>
                                <li><a class="text-base-white">Estratégias Personalizadas para Transformação Digital</a></li>
                                <li><a class="text-base-white">Avaliação e Otimização de Processos</a></li>
                                <li><a class="text-base-white">Gestão de Mudanças com Foco Humano</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a href="#"><button class="btn-footer">CONTRATE NOSSOS SERVIÇOS</button></a>
                    </div>
                </div>
            </div>
            <div class="rightContainer">
                <img src="/img/imgConsulSection.png" alt="" class="imgElement" id="consulImg">
            </div>
        </div>

        <div class="footer">
            <div class="footer-left">
                <span>N</span>ITRO
                <div class="redes">
                    <a class="left-whatsapp center-redes" href="">
                        <img src="/img/Icon-whatz.png" class="icons-footer">
                        <p class="info-redes">(11) 99246-2502</p>
                    </a>
                    <a class="left-instagram center-redes" href=""><img src="/img/Icon-insta.png" class="icons-footer">
                        <p class="info-redes">@nitrocampany</p>
                    </a>
                    <a class="left-email center-redes" href=""><img src="/img/Icon-email.png" class="icons-footer">
                        <p class="info-redes">nitrodevelopment.campany@gmail.com</p>
                    </a>
                </div>
            </div>
            <div class="footer-center">
                <span>NAVEGUE</span>
                <a class="nav-footer" href="">
                    <p>Home</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Sobre nós</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Portfólio</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Serviços</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Contratar</p>
                </a>
            </div>
            <div class="footer-right">
                <span> FAÇA O SEU ORÇAMENTO AGORA!</span>
                <p>Na Nitro, estamos prontos para impulsionar o potencial digital do seu negócio. Solicite um orçamento
                    personalizado e descubra como nossas soluções de desenvolvimento de software podem elevar a experiência
                    do seu usuário.</p>
                <div class="button-footer">
                    <a href="#"><button class="btn-footer">FALE CONOSCO</button></a>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/home.js"></script>
</body>

</html>