<!DOCTYPE html>
<html lang="en">

<head>
    <!-- /----------------------------/
        /                            /
        /        META TAGS           /
        /                            /
        /----------------------------/ -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- /----------------------------/
        /                            /
        /        CSS LINKS           /
        /                            /
        /----------------------------/ -->

    <link rel="stylesheet" href="../style/design/reset.css">
    <link rel="stylesheet" href="../style/complementPage.css">

    <!-- /----------------------------/
        /                            /
        /        ANOTHERS LINKS      /
        /                            /
        /----------------------------/ -->

    <link rel="shortcut icon" href="../img/logoIcon.png" type="image/x-icon">

    <title>Desenvolvimento Mobile</title>
</head>
<!-- Escrever descrição
-->

<body>

    <!-- /----------------------------/
        /                            /
        /        MAIN CONTAINER      /
        /                            /
        /----------------------------/ -->

    <div class="mainContainer">
        
        <div class="navbar">
            <ul>
                <li><a class="text-nav" href="../index.html#about">sobre nós</a></li>
                <li><a class="text-nav" href="../index.html#portfolio">portfólio</a></li>
                <img src="../img/logoNitro.png">
                <li><a class="text-nav" href="../index.html#services">serviços</a></li>
                <li><a href="../index.html#contratar">contratar</a></li>
            </ul>
        </div>

        <div class="home">
            <div class="leftContainer">
                <div class="generalContainer">
                    <div class="infosContainer">
                        <h1 class="title-grey">DESENVOLVIMENTO <a class="title-pink">MOBILE</a></h1>
                        <p class="text-base">Em um mundo cada vez mais interconectado e dependente da mobilidade, a demanda por soluções inovadoras e eficientes no desenvolvimento mobile tornou-se mais premente do que nunca. É neste cenário dinâmico que a NITRO DEVELOPMENT emerge como uma referência incontestável, trazendo consigo expertise e paixão pelo desenvolvimento de aplicativos móveis que não apenas atendem, mas transcendem as expectativas do mercado.</p>
                        <div class="moreInfosContainer">
                            <ul>
                                <li><a class="text-base-white">Compromisso com a Qualidade e Prazo de Entrega</a></li>
                                <li><a class="text-base-white">Colaboração e Transparência</a></li>
                                <li><a class="text-base-white">Abraçando a Diversidade Tecnológica</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a href="#"><button class="btn-footer">CONTRATE NOSSOS SERVIÇOS</button></a>
                    </div>
                </div>
            </div>
            <div class="rightContainer">
                <img src="/img/imgMobileSection.png" alt="" class="imgElement">
            </div>
        </div>

        <div class="footer">
            <div class="footer-left">
                <span>N</span>ITRO
                <div class="redes">
                    <a class="left-whatsapp center-redes" href="">
                        <img src="/img/Icon-whatz.png" class="icons-footer">
                        <p class="info-redes">(11) 99246-2502</p>
                    </a>
                    <a class="left-instagram center-redes" href=""><img src="/img/Icon-insta.png" class="icons-footer">
                        <p class="info-redes">@nitrocampany</p>
                    </a>
                    <a class="left-email center-redes" href=""><img src="/img/Icon-email.png" class="icons-footer">
                        <p class="info-redes">nitrodevelopment.campany@gmail.com</p>
                    </a>
                </div>
            </div>
            <div class="footer-center">
                <span>NAVEGUE</span>
                <a class="nav-footer" href="">
                    <p>Home</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Sobre nós</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Portfólio</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Serviços</p>
                </a>
                <a class="nav-footer" href="">
                    <p>Contratar</p>
                </a>
            </div>
            <div class="footer-right">
                <span> FAÇA O SEU ORÇAMENTO AGORA!</span>
                <p>Na Nitro, estamos prontos para impulsionar o potencial digital do seu negócio. Solicite um orçamento
                    personalizado e descubra como nossas soluções de desenvolvimento de software podem elevar a experiência
                    do seu usuário.</p>
                <div class="button-footer">
                    <a href="#"><button class="btn-footer">FALE CONOSCO</button></a>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/home.js"></script>
</body>

</html>